* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 500px;
  padding: 15px;
}
.about {
  background: #9f8cca;
  width: 100%;
  height: 70vh;
  margin: auto;
  padding: 30px;
  color: white;
}
.about>h1 {
  font: 1em;
}
.about>a {
  text-decoration: none;
  font:bold 1em Arial;
  color: white;
}
.header {
  background: #533b7c;
  box-shadow: 1px 1px 8px #333;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logoPart {
  display:flex;
  border-radius: 20px;
  cursor: pointer;
}
.logoPart>h1 {
  color: white;
  padding: 10px;
}

.logo {
  margin: 8px;
  width: 50px;
  height: 50px;
  color: white;
}

.navbar {
  margin: 10px;
}

#menu>li {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#menu>li:hover {
  background-color: #7e6df3;
  border: none;
  transition: all .4s ease-in-out;
}

#menu>li>a {
  display: block;
  text-decoration: none;
  color: white;
  font: bold 1.2em Arial ;
}
.main {
  background: #9f8cca;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #533b7c;;
  height: 15vh;
  color: white;
  font:bold 1em Arial;
}

.social>a {
  text-decoration: none;
  color: white;
}

.question_block {
  position: relative;
  padding: 10px;
  width: 90%;
  height: 20vh;
  background: #3e394c;
  border-radius: 50px;
  box-shadow: 2px 2px 10px gray;
  color: white;
  text-align: center;
  font-size: .9em;
}

.question_block2{
  position: relative;
  padding: 10px;
  width: 90%;  
  height: 20vh;
  background: #3e394c;
  border-radius: 50px;
  box-shadow: 2px 2px 10px gray;
  color: white;
  text-align: center;
}

.question_block2>button{
  margin: 5px;
  width: 70%;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #533b7c;
  color: white;
  font: 1em Arial;
  text-transform: uppercase;
  padding: 8px;
  cursor: pointer;
}
.question_block2>button:hover{
  background-color: #7e6df3;
  border: none;
  transition: all .4s ease-in-out;
}

.question_block>button {
  width: 70px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #533b7c;
  color: white;
  font: 1em Arial;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  margin: 15px;
}
.question_block>button:hover {
  background-color: #7e6df3;
  border: none;
  transition: all .4s ease-in-out;
}
.answer_block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_block>button {
  width: 100px;
  font-size: .9em;
  color: #ffffff;
  background-color:  #533b7c;;
  border-radius: 15px;
  padding: 3px;
  border: none;
  cursor: pointer;
  margin: 10px;

}

.answer_block>button:hover {
  background-color: #7e6df3;
  border: none;
  transition: all .4s ease-in-out;
}
.active {
  display: inline-block;
}
.inActive {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
  .about {
    padding: 150px;
  }
  .question_block {
    padding: 50px;
    width: 400px;
    height: 50vh;
  }
  .question_block2{
    padding: 50px;
    width: 400px; 
    height: 30vh;
    font-size: 1em; 
  }
  .question_block2>button{
    width: 100%;
  }
  .answer_block {
    display: block;
  }
  .answer_block>button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
  
  
}