* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  margin: auto;
  max-width: 1000px;
  padding: 15px;
  height: 15vh;
}

.header {
  background: #533b7c;
  box-shadow: 1px 1px 8px #333;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logoPart {
  display:flex;
  border-radius: 20px;
  cursor: pointer;
}
.logoPart:hover {
  background: #7e6df3;
}
.logoPart>h1 {
  color: white;
  padding: 10px;
}

.logo {
  margin: 8px;
  width: 50px;
  height: 50px;
  color: white;
}

.navbar {
  margin: 10px;
}

#menu>li {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#menu>li:hover {
  background-color: #7e6df3;
  border: none;
  transition: all .4s ease-in-out;
}

#menu>li>a {
  display: block;
  text-decoration: none;
  color: white;
  font: bold 1.2em Arial ;
}
.main {
  background: #9f8cca;
  height: 70vh;
}

.footer {
  background: #533b7c;;
  height: 15vh;
  color: white;
  font:bold 1.2em Arial;
}

.social {
  color: white;
}
